@media screen and (min-width: 576px){
    .container{
        max-width: 540px;
    }

    .col-sm-3{
        flex-basis: calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }
}

@media screen and (min-width: 768px){
    .container{
        max-width: 720px;
    }

    .col-md-2{
        flex-basis: calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
    }
}

@media screen and (min-width: 992px){
    .container{
        max-width: 960px;
    }

    .col-lg-1{
        flex-basis: calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
    }
}

@media screen and (min-width: 1200px){
    .container{
        max-width: 1140px;
    }

    .col-xl-6{
        flex-basis: calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }
}

@media screen and (min-width: 1400px){
    .container{
        max-width: 1320px;
    }
}